body{
    margin: 0;
    padding: 0;
}
#nav-sect{
    background-image:url("../Images/moving\ 1.png");
    background-size: cover; 
    background-position: center center;
    height:90vh
}
.navigation > .nav-links{ 
    margin: 20px 0px 20px 0px;
    padding-left: 500px;
}
.navigation > .nav-links > ul > li { 
    display: inline-block;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px;
        
}
.navigation > .nav-links > ul > li > a{ 
    color: white;
    font-size: 1em;
    text-decoration: none;
}
#login{
    background-color:  #FAFF00;
    color: black;
    padding: 5px;
}
#login2{
    background-color: black;
    color: #FAFF00;
    padding: 5px;
}


.navigation > .header > h1{
    padding-top: 30px;
    color: #FAFF00;
    font-size: 35px;
    font-weight: 500;
    padding-left: 80px;
    align-items: center;
}
.navigation > .header > p{
    color: #FAFF00;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.699);
    font-family: 'Poppins';
    padding-left: 80px;
    align-items: center;
}
#about-sect{
    padding-top: 30px;
}
#about-sect > .learn-more{ 
    display: flex;
}
#about-sect > .learn-more > .desc-img >img{
    height: 370px;
    width: 450px;

}
#about-sect > .learn-more > .movers-desc{
    margin-left: 50px;
    padding-top:50px;
}
hr{
    height: 2px;
    background: -webkit-linear-gradient(left, rgb(241, 155, 25) 32%,rgb(230, 105, 23,1) 20% ,rgb(27, 27, 26) 18%,rgb(94, 89, 19) 30%);
    width: 40%;
    margin-left: 45px; 
    
}
#about-sect > .learn-more > .movers-desc > h1{
    font-size: 35px;
    font-weight: 500;
    margin-left: 40px;
    margin-top: 0px;
}
#about-sect > .learn-more > .movers-desc > p{
    font-family: "Poppins";
    font-size: 15px;
    color: rgba(0, 0, 0, 0.774);
    margin-left: 40px;

}
#about-sect > .learn-more > .movers-desc > a{
    font-size: 1em;
    color: #FAFF00;
    background-color: black;
    margin-left: 40px;
    padding: 5px;
    text-decoration: none; 
}
.heder > h1{
    margin-top: 0;
    font-size: 35px;
    font-weight: 500;
    margin-left: 100px;
}
#hr2{
    margin-bottom:2px ;
    margin-top: 100px;
    height: 2px;
    background: -webkit-linear-gradient(left, rgb(241, 155, 25) 32%,rgb(230, 105, 23,1) 20% ,rgb(27, 27, 26) 18%,rgb(94, 89, 19) 30%);
    width: 7%;
    margin-left: 100px; 
}
.movers-images{
    display: flex;
    margin-left: 100px;
}
.movers-images > .mover1{
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1), 0 4px 12px 0 rgba(0,0,0,0.5);
    border: none;
}
.movers-images > .mover1 > img{
    height: 200px;
    width: 250px;
    
}
.movers-images > .mover1 > h3{
    padding-left: 20px;
    font-weight: 530;
    font-size: 15px;
}
table{
    width:100%;
    margin-left: 0;
}
table, th, td {
    font-weight: 200;
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-collapse: collapse;
    
}
i{
    font-size: 2px;
}
.footer{
    margin-top: 80px;
    background-color: black;

}
.footer> .footer-header > h1{
    color: white;
    padding-left: 180px;
    font-size: 25px;
    padding-top: 50px;
    font-weight: 400;
}
span{
    color: #FFAC12;

}
.footer-links{
    padding-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
}
.footer-links > .social {
    margin-top: 100px;
}
.footer-links > .social > i{
    color: white;
    display: inline-block;
    padding-top: 20px;
    padding-left: 20px;
}
.footer-links > .links {
    color: white;
    text-align: start;
}
.footer-links > .links > p{
    font-size: 15px;

}
.navigation2{
    background-color: black;
    margin-top: 0;
}

.navigation2 > .nav-links{ 
    margin: 0px 0px 20px 0px;
    padding-left: 500px;
}
.navigation2 > .nav-links > ul > li { 
    display: inline-block;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px;
        
}
.navigation2 > .nav-links > ul > li > a{ 
    color: white;
    font-size: 1em;
    text-decoration: none;
}
#work{
    background-color: #FFAC12;
    color: black;
    padding: 5px;
    border-radius: 0px 10px 0px 0px;
}
#li{
    color: white;
    font-size: 30px;
}
.price{
    display: flex;
    justify-content: space-between;
}
.price > .movers-price{
    margin-left: 100px;
    margin-right: 100px;
}
.price > .movers-price >h1{
    color: white;
    font-weight: 300;
    margin-bottom: 5px;
}
.price > .movers-price > p{
    text-align: center;
    color: white;
    font-size: small;
    margin-top: 0px;
}
.property-desc{
    display: flex;
}
.property-desc > .desc{
    width: 54%;
}
.property-desc > .desc > .property{
    margin-top: 50px;
    margin-left: 100px;
}
.property-desc > .desc > .property > img{
    height: 420px;
    width: 580px;
}
.property-desc > .desc > .property > .prop-images > img{
    height: 80px;
}
.property-desc > .desc > .prop-details{
    margin-left: 100px;
    margin-top: 20px;
    font-weight: 300;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1), 0 4px 12px 0 rgba(0,0,0,0.5);
    border: none;
    border-radius: 10px;

}
.property-desc > .desc > .prop-details > h3{
    padding-top: 10px;
    padding-left:10px ;
    margin-bottom: 15px;
    font-weight: 500;
}
.property-desc > .desc > .prop-details > table{
    height: 10px;
}
.property-desc > .desc > .prop-desc {
    margin-left: 100px;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.1), 0 1px 4px 0 rgba(0,0,0,0.5);
    border: none;
    border-radius: 10px 10px 0 0;
    height: 20px;
    margin-bottom: 0;
    
    
}
.property-desc > .desc > .prop-desc >   .desc1 >  h3{
    font-weight: 550;

}
.property-desc > .desc > .prop-txt{
    margin-left: 100px;
    padding: 20px;
    font-family: 'Actor';
    font-weight: 400;
    box-shadow: 2px 0 0 0 rgba(0,0,0,0.1), 0 2px 2px 0 rgba(0,0,0,0.5);
    border: none;
    border-radius: 0px 0px 10px 10px;
    
    
}
.property-desc > .desc > .prop-txt2{
    background-color: white;
    margin-left: 100px;
    padding: 20px;
    font-family: 'Actor';
    box-shadow: 1px 0 0 0 rgba(0,0,0,0.1), 0 2px 3px 0 rgba(0,0,0,0.5);
    border: 1px solid rgba(0, 0, 0, 0.041);
    border-radius: 0px 0px 10px 10px;
    justify-content: space-between;
    display: flex;
    
    
    
}
.property-desc > .desc > .prop-txt2 > div > h3{
    font-weight: 500;
} 
.property-desc > .desc > .prop-txt2 > div > p{
    font-size: 15px;
    font-weight: 400;
}
.prop-txt2>div > p> i{
    color: #FFAC12;
}
input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color:black;
    color: white;
    padding: 12px 40px 10px 40px;
    border: none;
    border-radius: 0 24px 0 0;
    font-size: 18px;
    width: 100%;


  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  .logo > img{
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: #FFAC12;
      color: #FFAC12;
      margin-right: 10px;
      
  }
 .logo{
     display: flex;
 }
 .logo > p{
    margin-top:5px;
}
.learn-form{
    box-shadow: 2px 0 0 0 rgba(0,0,0,0.1), 0 2px 2px 0 rgba(0,0,0,0.5);
    border: none;
    height: 375px;
    border-radius: 5%;
    padding: 10px;
    margin-left: 30px;
    margin-top: 50px;
    
}
#work2{
    margin-top: 80px;
    background-color: #FFAC12;
    color: black;
    margin-bottom:0 ;
    border-radius: 0px 10px 0px 0px;
    text-decoration: none;
    margin-right: 50px;
    padding-left: 15px;
}
.footer-header{
    justify-content: space-between;
    display: flex;
}